{% extends "/user/base.html" %} {% block content %}
<div class="h-full w-full flex flex-row">
  <div
    class="border-r border-gray-300 w-1/2 flex flex-col justify-center relative"
  >
    <div class="absolute top-4 left-4">
      <a href="/user"><- Back to products</a>
    </div>

    <center>
      <div class="text-3xl font-semibold">{{data[0][1]}}</div>
      <div class="text-sm">{{data[0][2]}} kr</div>
    </center>
  </div>
  <div class="w-1/2 flex flex-col justify-center">
    <center>
      <form method="post">
        <div class="flex flex-row space-x-2 mb-2 w-2/3">
          <input
            type="text"
            name="first_name"
            placeholder="First name"
            class="w-full drop-shadow-lg p-2"
          />
          <input
            type="text"
            name="last_name"
            placeholder="Last name"
            class="w-full drop-shadow-lg p-2"
          />
        </div>
        <button
          type="submit"
          class="w-2/3 py-2 px-3 transition-all drop-shadow-lg text-white bg-green-500 hover:bg-green-700 hover:shadow-none hover:inner-shadow-md cursor-pointer"
        >
          Purchase
        </button>
      </form>
    </center>
  </div>
</div>
{% endblock %}
