{% extends "/user/base.html" %} {% block content %}

<div class="absolute top-4 left-4">
  <a href="/"><- Back to admin or user page</a>
</div>

<section class="px-8 py-24">
  <center>
    <div class="text-3xl uppercase">Select food to order</div>
    <div class="my-12 p-4 drop-shadow-lg bg-white w-fit rounded">
      {% for filter in filters %}
      <label class="mr-4">
        {{filter[1]}}
        <input
          onchange="setFilters()"
          name="filters"
          type="checkbox"
          value="{{filter[0]}}"
        />
      </label>
      {% endfor %}
      <button
        onclick="test()"
        class="mt-4 w-2/3 py-2 px-3 transition-all drop-shadow-lg text-white bg-green-500 hover:bg-green-700 hover:shadow-none hover:inner-shadow-md cursor-pointer"
      >
        Apply filters
      </button>
    </div>
    <div class="flex flex-row space-x-8 w-fit">
      {% for item in data %}
      <a href="product/{{item[0]}}">
        <div
          class="rounded shadow-lg cursor-pointer transition-all bg-slate-600 hover:scale-110 relative"
        >
          <div
            class="opacity-0 hover:opacity-100 bg-opacity-75 transition-all duration-200 absolute z-10 rounded top-0 left-0 h-full w-full bg-black flex items-center justify-center text-white"
          >
            Click to purchase
          </div>
          <div class="w-48 h-40 rounded-t"></div>
          <div class="w-48 h-28 pt-4 rounded-b rounded-t-lg bg-white relative">
            <center class="font-semibold text-sm">{{item[1]}}</center>
            <div class="absolute bottom-4 right-4 text-xs">{{item[2]}} kr</div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </center>
</section>

<script>
  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });

  let currentFilters = params.tags
    ? params.tags.replace("[", "").replace("]", "").split(",")
    : [];

  function checkBoxes() {
    const checkboxes = document.querySelectorAll('input[name="filters"]');
    checkboxes.forEach((item) => {
      if (currentFilters.includes(item.value)) {
        item.checked = true;
      }
    });
  }

  checkBoxes();

  function setFilters() {
    const checkboxes = document.querySelectorAll(
      'input[name="filters"]:checked'
    );
    newFilters = [];
    checkboxes.forEach((item) => newFilters.push(item.value));
    currentFilters = newFilters;
  }
  function test() {
    window.location.href = `?tags=[${currentFilters}]`;
  }
</script>

{% endblock %}
